/*
Theme Name: Bell's Books
Theme URI: http://bells.com
Author: Rafael Carrilho
Author URI: http://injunior.com/
Description: Tema criado para o Bells Books
Version: 1.0
*/
body{
    margin: 0;
   
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

header{
    background-color: #352A1C;
}
header .container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
    padding: 30px;

}
header nav a{
    padding-left: 30px;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Overlock SC', cursive;
    color: #fafafa;
}
.button{
    background-color: #BADFDA;
    font-size: 1.0em;
    font-family: 'Overlock SC', cursive;
    border: none;
    width: 100px;
    height: 25px;
}


footer{
    background-color: #352A1C;
    margin: 0;
}
footer .container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#footer_nav1 {
    
    
}
#footer_nav1 a{
    padding-left: 20px;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Overlock SC', cursive;
    color: #BADFDA;
}
#footer_nav2 {
    padding: 20px;
}
#footer_div1{
    align-items: center;
}
#footer_div2{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
#footer_div2 p{
    font-family: 'Overlock', cursive;
    color: #BADFDA;
}
#copyright{
    width: 100%;
    
    background-color:#629A9D;
    align-items: center;

}
#copyright p{
    text-align: center;

}



h1{
    font-size: 2.8em;
    padding: 40px 0;
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
}
#page-artes{}
#card_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}
#card_images figure img:hover{
    filter: brightness(70%);
}


#contato_maeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
#contato_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
    width: 500px;
    background-color: #352A1C;
}
#contato_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contato_form p{
    font-size: 1em;
    font-family: 'Overlock', sans-serif;
    color: #629A9D;
}
#contato_nomeSobrenome{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.contato_nomeCampo input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
}
.contato_nomeCampo1 input{
    height: 30px;
    border-radius: 5px;
}

#contato_Mensagem{
    height: 100px;
    border-radius: 10px;
}

#contato_sec2{
    background-color: #E1EFEE;
    
}
